@import "tailwindcss";

html {
  background-color: black;
  overflow-x: hidden;
}

button {
  cursor: pointer;
}

.btn {
  @apply flex items-center justify-center gap-2 px-4 md:px-6 py-1.5 md:py-2 text-sm sm:text-lg font-semibold rounded;
}

.sound-btn {
  @apply bg-neutral-800/60 hover:bg-neutral-700/80  text-white p-2 md:p-4 rounded-full border border-neutral-600/50 transition-colors duration-200 backdrop-blur-sm;
}

.control-btn {
  @apply p-1 sm:p-2 bg-neutral-800 rounded-full hover:bg-neutral-700;
}

@utility no-scrollbar {
  @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}
