@import "tailwindcss";

html {
  background-color: black;
  overflow-x: hidden;
}

button {
  cursor: pointer;
}

.btn {
  @apply flex items-center justify-center gap-2 px-4 py-2 font-semibold rounded sm:px-6;
}

.sound-btn {
  @apply absolute bottom-15 right-5 sm:right-15 p-3 bg-transparent border text-white rounded-4xl hover:bg-stone-800;
}

.chevron-btn {
  @apply absolute top-1/2 -translate-y-1/2 z-10 bg-black/50 hover:bg-black/70 text-white p-2 rounded-full opacity-0 group-hover:opacity-100 transition-opacity duration-300;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}